* {
    font-family: Ubuntu;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
  
  html, body, #root {
    height: 100vh;
 }
  
  body {
    background: #fafafa;
 }

 .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
 }

 .controllers {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
 }

 .colorScheme input {
    width: 50px;
    text-align: center;
 }

 .modifiers {
     margin: 10px;
 }

 .modifiers input{
     width: 75px;
     text-align: center;
 }

 .circle {
    align-items: center;
    background-color: var(--initial-color);
    border-radius: 50%;
    display: flex;
    height: 200px;
    width: 200px;
 }

 #btnControll {
     margin-bottom: 20px;
     cursor: pointer;
     color: #fff;
     background-color: #969ea5;
     border: none;     
     padding: 20px;
     width: 150px;
     transition: opacity .3s;
 }

 #btnControll:hover {
    opacity: .5;
}

 :root {
    --initial-color: #000;
 }