
.leftContent {
    display: grid;
    grid-template-columns: 3fr  1fr;     
}

.display {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rigthContent {
    display: flex;
    flex-direction: column;    
}

.headButtons {
    display: grid;
    grid-template-columns: repeat(4, 50px);    
    grid-column-gap: 50px; 
}
.display input {    
    text-align: right;
    width: 400px;
    padding: 20px;
    border: solid 1px #969ea5;
    color: #969ea5;
    font-size: 20px;
}

.display span {
    margin-bottom: 10px;
    overflow: hidden;
    text-align: right;
    max-width: 400px;
    color: #969ea5;
    font-size: 20px;
}

.headButtons button,
.numbersContainer button,
.rigthContent button {
    width: 100px;
}

.dotButton {
    width: 200px !important;
}

.numbersContainer {
    display: grid;
    grid-column-gap: 50px;    
    grid-template-columns: repeat(3, 50px);
}

.button {
    cursor: pointer;
    color: #fff;
    border: none;
    height: 50px;
    transition: opacity .3s;
}

.buttonClear {
    background-color: #f5b362;
}

.buttonOperator {
    background-color: #969ea5;
}

.buttonValue {
    background-color: #191a1c;    
}

.button:hover {
    opacity: .5;
}