
.bulb {
    display: flex;
    margin: 1rem;
    border-radius: 50%;
    height: 80px;    
    width: 50px;
    position: relative;
    transition: 1s all ease;
  }


.bulb:before {
    background: rgb(68, 53, 73);
    border-bottom: 2px solid rgb(97, 81, 107);
    border-radius: 2px;    
    content: '';
    display: inline-block;
    height: 20px;
    left: 15px;
    margin: 0;
    position: absolute;
    padding: 0;
    top: -18px;
    width: 20px;
  }

  .bulb:after {
    content: "";
    border-bottom: solid #222 2px;
    border-radius: 50%;
    height: 18.6666666667px;
    left: 30px;
    position: absolute;
    top: -20px;
    width: 70px;
  }

  .noRope:after {
    border: none;
    content: '';
    position: absolute;
  }

  .red {    
    background-color: var(--red-off);
  }

  .red-on {
    animation: blink-1 var(--animation-intensity) infinite alternate-reverse;
  }

  .blue {    
    background-color: var(--blue-off);
  }

  .blue-on {
    animation: blink-2 var(--animation-intensity) infinite alternate-reverse;
  }

  .green {    
    background-color: var(--green-off);
  }

  .green-on {
    animation: blink-3 var(--animation-intensity) infinite alternate-reverse;
  }

  .yellow {    
    background-color: var(--yellow-off);
  }

  .yellow-on {
    animation: blink-4 var(--animation-intensity) infinite alternate-reverse;
  }

  @keyframes blink-1 {
    0%,
    50% {
      background-color: var(--red-on);
      box-shadow: 0 0 30px 5px var(--red-on);
    }
    100% {
        background-color: var(--red-off);
        box-shadow: none;
      }
  }
  @keyframes blink-2 {
    0%,
    50% {
      background-color: var(--blue-on);
      box-shadow: 0 0 30px 5px var(--blue-on);
    }
    100% {
        background-color: var(--blue-off);
        box-shadow: none;
      }
  }

  @keyframes blink-3 {
    0%,
    50% {
      background-color: var(--green-on);
      box-shadow: 0 0 30px 5px var(--green-on);
    }
    100% {
        background-color: var(--green-off);
        box-shadow: none;
      }
  }
  @keyframes blink-4 {
    0%,
    50% {
      background-color: var(--yellow-on);
      box-shadow: 0 0 30px 5px var(--yellow-on);
    }
    100% {
        background-color: var(--yellow-off);
        box-shadow: none;
      }
  }