* {
    font-family: Ubuntu;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body, #root {
    height: 100vh;
  }
  
  body {
    background: #fafafa;
  }
  :root {
    --red-on: rgb(191, 58, 43);
    --red-off: rgb(191, 58, 43, 0.5);

    --blue-on:rgb(0, 58, 247);
    --blue-off: rgb(0, 58, 247, 0.5);

    --green-on: rgb(6, 170, 6);
    --green-off: rgb(6, 170, 6, 0.5);

    --yellow-on: rgb(255, 252, 77);
    --yellow-off: rgb(255, 252, 77, 0.5);
  }
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }